<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>YOUR_APP_IDENTIFIER</string>
    <key>ProgramArguments</key>
<array>
    <string>YOUR_GO_EXECUTABLE_PATH</string>
</array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>YOUR_LOG_FILE_PATH</string>
    <key>StandardErrorPath</key>
    <string>YOUR_ERROR_LOG_FILE_PATH</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>gouge</string>
</dict>
</plist>